anyio
appnope
argon2-cffi
argon2-cffi-bindings
attrs
Babel
backcall
bleach
certifi
cffi
charset-normalizer
cycler
debugpy
decorator
defusedxml
entrypoints
fonttools
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
requests
Send2Trash
six
sniffio
terminado
testpath
tornado
traitlets
typing_extensions
urllib3
wcwidth
webencodings
websocket-client
widgetsnbextension
zipp
xmltodict
beautifulsoup4
imageio
bs4
lxml